.div{
  align-items: center;
  justify-content: center;
}

#formulario {
  align-items: center;
  margin-top: 10px;
}

.title {
  margin-top: 30px;
  margin-left: 120px;
  color: blueviolet;
}

.btn {
  background-color: blueviolet;
  border-color: blueviolet;
}
